table {
  th {
    background-color: #2a323d !important;
    border-color: hsl(var(--border));
    padding: 10px 15px 5px;
  }
  thead {
    border-radius: 4px !important;
  }
  tr {
    background-color: transparent !important;
    border-radius: 4px !important;
  }
  td {
    border-bottom: 1px solid hsl(var(--border));
  }
}

.search-input {
  padding: 10px 10px 10px 40px;
}

.p-datatable-header {
  background-color: transparent !important;
}

.p-column-filter {
  padding: 5px 10px;
  .p-dropdown-label {
    padding: 0 !important;
  }
}

.p-paginator-bottom {
  border-radius: 0 0 10px 10px;
  padding: 0;
}

.p-datatable {
  @media (max-width: 786px) {
    overflow-x: scroll;
    width: 100vw;
  }

  .p-datatable-tbody {
    > tr {
      > td {
        color: #000000 !important;
      }
    }
  }
}

.dark {
  .p-datatable {
    .p-datatable-tbody {
      > tr {
        > td {
          color: #ffffff !important;
        }
      }
    }
  }
}

.p-datatable-table {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

body:has(.readonly) input, body:has(.readonly) button[role="combobox"] {
  user-select: none !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

body:has(#login-form),
body:has(#forgot-password-form),
body:has(#register-form) {
  h1, p, label {
    color: white !important;
  }
}

form {
  @media (max-width: 576px) {
    max-height: 80vh;
    overflow-y: scroll;
  }
}
